/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 } 

 /* Контэйнер */
 
 .container {
  max-width: 1172px;
  margin: 0 auto;
 } 

/* Firstscreen */

 .firstscreen {  
  background: linear-gradient(91deg, #fff 46.1%, #D9E3EF 0%);
}
.firstscreen__inner {  
  padding-top: 50px;
  background-image: url(../img/model.png);
  background-position: 215px 38px;
  background-repeat: no-repeat;
  background-size: 86%;  
  padding-bottom: 388px;
}
.firstscreen__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 250px;
}
.firstscreen__navmenu_inner {
  display: flex;
  align-items: center;
}
.firstscreen__footer_logo {
  margin-right: 64px;
}
.firstscreen__footer_navmenu {
  display: flex;
  list-style: none;
}
.firstscreen__footer_item {
  margin-right: 63px;
}
.firstscreen__footer_item:last-child {
  margin-right: 0;
}
.firstscreen__footer_item a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'OpenSansRegular';
  color: #000;
  font-size: 16px;
}
.firstscreen__footer_item a:hover {
  color: rgb(167, 165, 165);
  border-bottom: rgb(167, 165, 165) solid 1px;
}
.firstscreen__footer_icons {
  display: flex;
  align-items: center;
}
.firstscreen__footer_icons a {
  margin-right: 20px;
}
.firstscreen__footer_icons a:last-child {
  margin-right: 0;
}
.firstscreen__footer_icon:hover {
  mix-blend-mode: soft-light;
}
.firstscreen__title {
  color: #373737;
  font-family: 'OpenSansBold';
  font-size: 60px;
  line-height: 81px;
  max-width: 529px;
  margin-bottom: 63px;
}
.firstscreen__btn {
  width: 212px;
  height: 66px;
  font-family: 'OpenSansSemiBold';
  font-size: 16px;
  background-color: #373737;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
}
.firstscreen__btn:hover {
  background-color: #fff;
  color: #373737;
  border: solid #373737 1px;
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 950px;
    margin: 0 auto;
   } 
   .firstscreen__inner {
    background-position: 90px 76px;
    background-size: 102%;
  }
  .firstscreen__title {
    font-size: 49px;
  }
}
@media screen and (max-width:1000px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
   } 
  .firstscreen__footer {
    margin-bottom: 80px;
  }
  .firstscreen__inner {
    background-position: -82px 76px;
    background-size: 125%;
    padding-bottom: 590px;
  }
  .firstscreen__title {
    font-size: 49px;
  }  
}
@media screen and (max-width:850px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
   } 
  .firstscreen {
    background: linear-gradient(191deg, #fff 46.1%, #D9E3EF 0%);
   }
  .firstscreen__inner {
    background-position: -82px 140px;
    padding-bottom: 407px;
  }     
  .firstscreen__title {
    font-size: 30px;
    margin-bottom: 18px;
  }
  .firstscreen__btn {
    width: 132px;
    height: 38px;
    font-size: 13px;
    color: #fff;
  }
}
@media screen and (max-width:700px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
   } 
  .firstscreen__footer_navmenu {
    display: none;
  }
  .firstscreen__footer_icons {
    display: none;
  }
  .firstscreen__footer {
    align-items: center;
}
  .burger {
    padding: 5px;
    border: #000 solid 2px;
    width: 50px;
    border-radius: 5px;
  }
  .burger__line {
    background-color: #000;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
  }
  .burger__line:last-child {
    margin-bottom: 0;
  }  
}
@media screen and (max-width:540px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
   }
   .firstscreen__inner {
    background-position: 0px 242px;
    padding-bottom: 305px;
    background-size: 100%;
    }
    .firstscreen__title {
      font-size: 26px;
      margin-bottom: -12px;
    }
}
@media screen and (max-width:380px) {
  .container {
    max-width: 200px;
    margin: 0 auto;
   }
   .firstscreen__inner {
    background-position: 0px 242px;
    padding-bottom: 115px;
    background-size: 100%;
    }
    .firstscreen__title {
      font-size: 15px;
      margin-bottom: 184px;
    }
    .firstscreen__btn {
      display: block;
      margin: 0 auto;
    }
}